SECRET_KEY=d98a95861100c47821d111f1f6a396efc9c55fc6ab0d3521472c87d0d2d5c5e2
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720
DATABASE_URL=postgresql://postgres:1zzSvPE6k9sfA5BX@db.oaeardavbkbociauxufb.supabase.co:5432/postgres
CORS_ORIGINS=*